body{
    text-align: center;
    font-family: Arial;
    color: blue;
}
#post{

    background-color: burlywood;
    color: brown;

}
.text{
    background-color: brown;
    color: aquamarine;
}
.questions {
    color: blueviolet;
}